
.carousel-container {
  width: 100%;
  overflow: hidden; /* Hide images outside the carousel */
}

.carousel-slide {
  width:100%;
  display: flex;
  transition: transform 1s ease-in-out; /* Smooth slide transition */
}

.carousel-image {
  min-width: 100%;
  height: 500px;
  display: block;
  object-fit: cover; /* Ensures images cover the area nicely */
}
